@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --link-color: #2196f3;
  --heading-color: #212121;
  --text-color: #ffffff;
  --alternative-color: #2f3031;
  --logo-font-family: "Raleway", sans-serif;
}

/* Header css */

.global-header {
  display: flex;
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin: auto;
}
.nav-navigation {
  margin-top: 24px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-navigation a:hover {
  color: #2196f3;
}

.section-header {
  display: flex;
  align-items: center;
}
.mailto {
  font-family: "Roboto";
  color: #757575;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 40px;
}
.telephone {
  font-family: "Roboto";
  color: #757575;
  display: flex;
  flex-direction: row-reverse;
}
.logo {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin-right: 93px;
  margin-top: 24;
  margin-bottom: 25;
}

.global-logo {
  color: #2196f3;
}
nav {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}
.nav-section:hover {
  color: var(--link-color);
}
.nav-section {
  margin-top: 24;
  margin-bottom: 25;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  position: relative;
}

.section-header-info {
  display: flex;
  align-items: center;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.section-hea li {
  display: flex;
}

.section-header-info li:hover {
  color: #2196f3;
}
.hero-section {
  background-color: var(--alternative-color);
  font-family: "Roboto";
  font-style: normal;
  color: var(--text-color);
  margin: 0;
  height: 600px;
  padding-top: 10px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/main-photo.jpg");
}

.section-header li + li {
  margin-right: 50px;
}
.header-title {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 160px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 0;
}

.contact-section li {
  padding-right: 10px;
  display: flex;
}

.section-button {
  justify-content: center;
}
.section-button {
  align-self: baseline;
}

.card {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  margin-bottom: 94px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: "Roboto";
}
.card-text {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Roboto";
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-family: var(--text-font-family);
  background-color: var(--link-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 40px auto 210px 500px;
}

.btn-section:hover {
  color: var(--text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  cursor: pointer;
  background-color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
a {
  color: var(--heading-color);
  text-decoration: none;
}

h2 {
  color: var(--heading-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
h3 {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--heading-color);
}

h4 {
  color: var(--heading-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.section-list {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  padding-bottom: 94px;
  padding-left: 10px;
  padding-right: 150px;
  padding-top: 20px;
  gap: 30px;
}

.photo-section {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.photo-section li {
  padding-right: 30px;
}
.main-section {
  text-align: center;
}
p {
  color: #757575;
}

.main-box {
  position: relative;
}
.text-box {
  position: absolute;
  z-index: 1;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  bottom: 2px;
}
.pictures-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 25px;
}

.item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
}
ul {
  list-style-type: none;
}

.team-pictures {
  width: 270px;
  height: 260px;
}
.section-team {
  background-color: #f5f4fa;
}
.main-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-title {
  padding-bottom: 50px;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 0;
}
/* Footer index.html*/

footer {
  background-color: #2f303a;
  color: var(--text-color);
}

.footer-section {
  font-family: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.footer-section:hover {
  color: #2196f3;
  color: var(--link-color);
}

.logo-footer {
  color: var(--text-color);
  font-family: var(--logo-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  display: flex;
  padding-top: 60px;
  padding-bottom: 10px;
}

.footer-ul {
  padding-left: 0;
}
.right-footer {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-left: 94px;
}
h5 {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}
.footer-social-links svg {
  width: 20px;
  height: 20px;
}
.footer-social-links a {
  color: #fff;
  background-color: #44464e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100px;
}
.footer-social-links a:hover,
.footer-social-links a:focus {
  color: #fff;
  cursor: pointer;
  background: #2196f3;
}
.footer-divide {
  display: flex;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  padding-bottom: 12px;
  padding-left: 0;
}
.address:focus {
  color: var(--link-color);
}
.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  padding-bottom: 12px;
}
.number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  padding-bottom: 60px;
}

/* Portofolio css */

.button {
  position: absolute;
  top: 61%;
  left: 42.5%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 19px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}
.buttons li {
  margin: 10px;
}
.btn-section {
  cursor: pointer;
  width: 96px;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
}

.buttons {
  display: flex;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 56px;
}

.cards-portofolio {
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-inline-start: 0;
}

.card-portofolio {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
}
.card-portofolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.cards-portofolio li {
  margin-bottom: 20px;
  margin-right: 20px;
}
.crd-title-portofolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
  margin-bottom: 0;
}

.crd-text-portofolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
  margin-top: 10px;
}

/* Icons header and main */

.box {
  display: flex;
  gap: 30px;
  height: 92px;
  width: 170px;
  left: 415px;
  top: 2493px;
  border-radius: 4px;
  cursor: pointer;
}
.svg-section {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  box-sizing: border-box;
}
.svg-section:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}
.section-regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.symbol-list {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  gap: 30px;
}
.symbol {
  display: flex;
  transform: scale(0.6);
  margin-left: -10px;
  color: #212121;
}
.symbol:hover {
  color: #0a8bf5;
}

.symbol-list-ul {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  gap: 30px;
  margin-top: 94px;
}
.header-svg {
  display: flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  margin-top: 2px;
}

.bluehover a {
  color: #afb1b8;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100px;
}
.bluehover a:hover,
.bluehover a:focus {
  color: #fff;
  cursor: pointer;
  background: #2196f3;
}
.bluehover svg {
  width: 20px;
  height: 20px;
}
.bluehover {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}
.item {
  position: absolute;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.item .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition-property: top, right, bottom, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 100%;
}
.item:hover .overlay {
  top: 0;
}
.item-box {
  height: 200px;
  flex-shrink: 0;
  margin: 63px 24px 91px;

  font-family: "Roboto";
  color: #ffffff;
  line-height: 28px;
  line-height: 133%;
  justify-content: flex-start;
  letter-spacing: 3%;
  font-size: 18px;
}
.top-of-the-card {
  margin-top: 310px;
}
.portofolio {
  border-bottom: 2px solid red;
}
.portofolio:hover::after {
  display: inline;
}
.portofolio::after {
  position: absolute;
  display: none;
  content: "";
  background: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  bottom: -22px;
  left: 0;
  width: 100%;
}

.border {
  border-bottom: 3px solid #2196f3;
  border-radius: 2px;
  padding-bottom: 20px;
}

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25, 28, 38, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition);
}
.modal-content {
  padding: 40px;
  background: #fff;
  width: 37%;
  margin: 0 auto;
  height: 600px;
  position: relative;
  border-radius: 4px;
}
.is-hidden {
  transform: scale(1);
  visibility: hidden;
  opacity: 1;
  pointer-events: auto;
}

.close-btn {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: black;
  position: absolute;
  outline: none;
  right: 8px;
  top: 8px;
  transform: scale(1.1);
  padding-bottom: 5px;
  position: absolute;
  cursor: pointer;
}
.close-btn:hover {
  color: #2196f3;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

/*Formular*/

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  padding-left: 0;
  color: #212121;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-group {
  color: #212121;
}
.form-group > *:nth-child(2):focus-within {
  border: 2px solid #2196f3;
  border-radius: 4px;
}

.form-group:focus-within > svg {
  color: #0a8bf5;
}

.form-group + .form-group {
  margin-top: 10px;
}
.form-group > *:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-group > *:nth-child(2) {
  padding: 12px 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.text-area {
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  outline: none;
}

.form-checkbox {
  flex-direction: row;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 20px;
  padding-left: 26px;
}
.form-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: #2196f3;
  background: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  box-shadow: 0px 1px 3px rgb(247, 244, 244), 0px 1px 1px rgb(238, 232, 232),
    0px 2px 1px rgba(253, 251, 251, 0.999);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.form-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form-button:hover,
.form-button:active {
  background: #0a8bf5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer {
  display: flex;
  flex-direction: column;
  margin: 72px 215px 93px 93px;
  position: absolute;
}
.form-footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-group {
  display: flex;
}
.form-footer-group {
  display: flex;
  background: #2f303a;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: white;
}
.form-footer-btn {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  padding-right: 30px;
  width: 200px;
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
  padding-inline-start: 0;
}
.form-footer-btn-portofolio {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  padding-right: 30px;
  width: 200px;
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
  padding-inline-start: 0;
}
.form-footer-icon-portofolio {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 530px;
}

.last-footer {
  width: 700px;
}
.form-footer-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 510px;
}

.terms {
  color: #2196f3;
  text-decoration: underline;
}
.input-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 30px;
  margin-left: 15px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input {
  padding: 8px 16px;
  outline: none;
  border: 1px solid darkgrey;
}
.checkbox-svg {
  position: relative;
  width: 17px;
  height: 16px;
  background: #2196f3;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
  margin: -2px;
}
.checkbox-svg > svg {
  position: absolute;
  width: 16px;
  height: 17px;
  transition: fill 250ms ease-in-out;
}
.label-checkbox {
  border: 2px solid black;
  border-radius: 20%;
  width: 16px;
  height: 15px;
  position: relative;
}
.checkbox-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
  gap: 14px;
}
.terms-text {
  margin-top: -4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.checkbox-container input[type="checkbox"] {
  display: none;
}
.checkbox-input {
  display: hidden;
}
.checkbox-input:checked ~ .checkbox-svg {
  visibility: visible;
}
.checkbox-input ~ .checkbox-svg {
  visibility: hidden;
}
