.header {
  position: relative;
  height: 60px;
}
.nav-links {
  width: 85px;
  height: 22px;
  margin-top: 292px;
  display: flex;
  gap: 10px;
  padding-top: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.logo {
  position: absolute;
  top: 20px;
  font-family: $logo-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.navigation {
  display: none;
  &.is-open {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    z-index: 99;
    &.is-open li {
      margin-bottom: 32px;
    }
  }
}
.button--close-menu {
  position: absolute;
  top: 15px;
  right: 37px;
  width: 36px;
  height: 48px;
  font-size: 33px;
  border: none;
  background: #ffffff;
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 27px;
}
.nav__svg {
  display: none;
}
.navigation__links {
  position: absolute;
  top: 10px;
  left: 4px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
}
.navigation__contact {
  position: absolute;
  top: 265px;
  right: 288px;
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.navigation__contact--telephone {
  position: absolute;
  left: -100px;
  bottom: 90px;
  font-family: "Roboto";
  color: #757575;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 64px;
  font-size: 14px;
  white-space: nowrap;
}

.navigation__contact--mail {
  position: absolute;
  left: -100px;
  bottom: 58px;

  font-family: "Roboto";
  color: #757575;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 40px;
  font-size: 14px;
}

@media screen and (min-width: $tablet-breakpoint) {
  .header {
    position: relative;
    height: 70px;
    height: 60px;
  }
  .logo {
    position: absolute;
    top: 15px;
    left: 10px;
    font-family: $logo-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }

  .menu-toggle {
    display: none;
  }
  .navigation__contact {
    position: absolute;
    top: 10px;
    right: 45px;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  .navigation {
    display: flex;
  }

  .button--close-menu {
    display: none;
  }
  .navigation__links {
    position: absolute;
    top: -17px;
    left: 143px;
    display: flex;
    flex-direction: row;
  }
  .navigation__links li {
    margin-left: 10px;
  }
  .nav__border {
    border-bottom: 5px solid $link-color;
    border-radius: 0px;
    padding-bottom: 17px;
  }
  .nav__svg {
    display: flex;
    width: 16px;
    height: 12px;
    margin-right: 0px;
    margin-top: 2px;
  }
  .navigation__contact--telephone {
    position: absolute;
    top: 7px;
    right: -86px;
    font-family: "Roboto";
    color: #757575;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 64px;
  }

  .navigation__contact--mail {
    position: absolute;
    top: -12px;
    right: -86px;
    font-family: "Roboto";
    color: #757575;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px;
  }
  .navigation__links li {
    margin-right: 30px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .header {
    position: relative;
    height: 70px;
    display: flex;
    border-bottom: 1px solid #ececec;
  }
  .logo {
    position: absolute;
    left: 60px;
    top: 20px;
    font-family: $logo-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
  .button--close-menu {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  .navigation__contact {
    position: absolute;
    top: 10px;
    right: 453px;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  .navigation {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links {
      position: absolute;
      top: 10px;
      left: 261px;
      display: flex;
      align-items: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;

      color: #212121;
    }

    &__contact--telephone {
      position: absolute;
      top: 10px;
      right: -25px;
      font-family: "Roboto";
      color: #757575;
      display: flex;
      flex-direction: row-reverse;
    }

    &__contact--mail {
      position: absolute;
      top: 10px;
      right: -178px;
      font-family: "Roboto";
      color: #757575;
      display: flex;
      flex-direction: row-reverse;
      margin-right: 40px;
    }

    & a:hover {
      color: $link-color;
    }

    & li:hover {
      color: #2196f3;
    }

    &__links li {
      margin-right: 50px;
    }

    &--nav-section:hover {
      color: $link-color;
    }
  }
  .nav__border {
    border-bottom: 3px solid $link-color;
    border-radius: 2px;
    padding-bottom: 27px;
  }
  .nav__svg {
    display: flex;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    margin-top: 2px;
  }
}
